
span{
	color:white;
	position: absolute;
	top: 205px;
	margin-left: 10%;

}
img{
	margin: 5% 2%;
}
	
img.hover{

background-color: blue;
}
hr{
	width: 10%;
	background-color: black;
	padding: .1%;

}
.back{
	background-color: pink;
}

